<div class="container mx-auto">
    <h2 class="text-center text-3xl font-bold uppercase">NOSSOS SERVIÇOS</h2>
    <div class="border-2 border-blue-600 w-32 mx-auto my-4">
    </div>
    <div class="mx-auto text-center text-lg w-2/3">
        Somos uma empresa <span class="font-bold"> Microsoft Partner </span>com foco em redução de custos da infraestrutura cloud e desenvolvimento de
        arquitetura de software escaláveis, acima de tudo, utilizando as melhores práticas para computação em nuvem com
        qualidade e segurança.
    </div>
</div>